@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.header 
{
    padding: 1rem 2rem;
    background-color: #828282;

    a 
    {
        text-decoration: none;
    }
    h1 
    {
        font-family: 'Honk';
    }
}
